
# Created by https://www.gitignore.io/api/clion

### CLion ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/dictionaries

# Sensitive or high-churn files:
# Gradle:
# CMake
cmake-build-debug/

# Mongo Exp
## File-based project format:
## Plugin-specific files:

# IntelliJ
# mpeltonen/sbt-idea plugin
# JIRA plugin
# Cursive Clojure plugin
# Ruby plugin and RubyMine
# Crashlytics plugin (for Android Studio and IntelliJ)
### CLion Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

# Sonarlint plugin
# End of https://www.gitignore.io/api/clion
_debug/
_Release/

# Data folders that contain text for testing
aclImdb*

# VS studio stuff
.vs

# Vim sessions
*.vim
.idea/deployment.xml
prototypes/queue/.idea/deployment.xml
.idea/
.vscode/
.git_auth.json
